* {
  min-height: 0;
  font-family: FiraMono Nerd Font;
  font-size: 14px;
  font-weight: 600;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#backlight,
#pulseaudio,
#custom-media,
#tray,
#mode,
#network,
#custom-power-menu,
#workspaces,
#workspaces button,
#idle_inhibitor,
#custom-power-menu,
#custom-headset-battery,
#custom-spotify {
  margin: 5px;
  padding: 5px 5px;
  color: #ebdbb2;
  border-radius: 4.5px;
  background-color: rgba(26, 27, 38, 0.2);
}
window#waybar {
  background-color: rgba(26, 27, 38, 0);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 8px;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  color: #6a92d7;
}

#workspaces button.active {
  color: #813f0b;
}

#workspaces button.urgent {
  background-color: #2986cc;
}

#network {
  margin: 5px;
  padding-left: 10px;
  padding-right: 19px;
  border-radius: 9.5px;
}

#workspaces {
  padding: 4px 8px;
  margin: 5px;
  border-radius: 9.5px;
}

#battery.charging,
#battery.full,
#battery.plugged {
  color: #9fe2bf;
  margin: 5px;
}
@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray > .passive {
  -gtk-icon-effect: dim;
  color: #ebdbb2;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#custom-spotify {
  margin: 5px;
}
